name: Deploy to VPS

on:
  push:
    branches:
      - main   # если у тебя master — поменяй

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            set -e
            cd /var/www/tables-and-chairs-backend
            git pull origin main
            npm install
            npm run build
            pm2 restart backend
